.sidebar {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    position:fixed;
    top: 0px;
    right: -250px;
    width: 250px;
    height: 100%;
    background: var(--primary);
    transition: all 300ms ease-in-out;
    z-index: 99;
}

.sidebar .toggle-btn {
    position: absolute;
    top: 17px;
    left: -40px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.sidebar .toggle-btn span {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #111;
    transform: translateY(-50%);
    transition: all 300ms ease-in-out;
}

.sidebar .toggle-btn span:nth-child(1) {
    top: 10%;
}

.sidebar .toggle-btn span:nth-child(2) {
    top: 50%;
}

.sidebar .toggle-btn span:nth-child(3) {
    top: 90%;
}

.sidebar .links a {
    display: block;
    padding: 15px 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border-bottom: 1px solid #1b1b1b;
}


.sidebar .links a:hover {
    background: #222;
    color: #00acee;
}

.sidebar .links a i {
    display: inline-block;
    margin-right: 10px;
}

.sidebar.active {
    right: 0;
}

.sidebar.active .toggle-btn span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.sidebar.active .toggle-btn span:nth-child(2) {
    display: none;
}

.sidebar.active .toggle-btn span:nth-child(3) {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}  