html{
    /* 1rem = 10px */
    /* font-size: 62.5%; */
}

body{
    margin: 0;
    padding: 0;
    margin-top: 100px;
    box-sizing: border-box;
    background: var(--primary); /* an example for the usage of vars*/
}