:root {
    /* Colors */
    
    --primary: #1d428a;
    --primary-lighten: #2a5abc;
    --primary-darken: #132c5d;
    --secondary: #c8102e;
    --white: #ffffff;
    
    /* Sizes */
    
    --sizes: 1.2rem;
    --sizem: 2rem;
    --sizel: 2.6rem;
}
