<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.3/chart.min.js"
        integrity="sha512-fMPPLjF/Xr7Ga0679WgtqoSyfUoQgdt8IIxJymStR5zV3Fyb6B3u/8DcaZ6R6sXexk5Z64bCgo2TYyn760EdcQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>

<body>
    <div style="width: 900px; height: 400px;">
        <canvas id="myChart"></canvas>
    </div>
    <script src="scripts/graphPage.js"></script>
</body>

</html>