
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  <link rel="stylesheet" type="text/css" href="/css/pages/HomePage.css" />
  <title>Homepage</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <%- include('../components/NavBar.ejs') %>
  <%- include('../components/HamburgerSideNav.ejs') %>


  <div class="background-video">
    <video autoplay loop muted plays-inline>
      <source src="/includes/data/lebron.webm" type="video/webm">
      Your browser does not support the video tag.
    </video>
    <div class="content">
      <h1>nba store</h1>
      <p>your #1 NBA products store</p>
    </div>
  </div>


<div class="logos">
  <div class="logos-slide">
    <img src="/includes/images/logos/a.gif" />
    <img src="/includes/images/logos/b.gif" />
    <img src="/includes/images/logos/c.gif" />
    
    <img src="/includes/images/logos/d.gif" />
    <img src="/includes/images/logos/e.gif" />
    <img src="/includes/images/logos/f.gif" />
    <img src="/includes/images/logos/g.gif" />
    <img src="/includes/images/logos/h.gif" />
    <img src="/includes/images/logos/i.gif" />
    <img src="/includes/images/logos/j.gif" />
    <img src="/includes/images/logos/l.gif" />
    <img src="/includes/images/logos/m.gif" />
    <img src="/includes/images/logos/n.gif" />
    <img src="/includes/images/logos/o.gif" />
    <img src="/includes/images/logos/p.gif" />
    <img src="/includes/images/logos/q.gif" />
    <img src="/includes/images/logos/r.gif" />
    <img src="/includes/images/logos/s.gif" />
    <img src="/includes/images/logos/t.gif" />
    <img src="/includes/images/logos/u.gif" />
    <img src="/includes/images/logos/v.gif" />
    <img src="/includes/images/logos/w.gif" />
    <img src="/includes/images/logos/x.gif" />
    <img src="/includes/images/logos/y.gif" />
    <img src="/includes/images/logos/z.gif" />
  </div>

  <div class="logos-slide">
    <img src="/includes/images/logos/a.gif" />
    <img src="/includes/images/logos/b.gif" />
    <img src="/includes/images/logos/c.gif" />
    
    <img src="/includes/images/logos/d.gif" />
    <img src="/includes/images/logos/e.gif" />
    <img src="/includes/images/logos/f.gif" />
    <img src="/includes/images/logos/g.gif" />
    <img src="/includes/images/logos/h.gif" />
    <img src="/includes/images/logos/i.gif" />
    <img src="/includes/images/logos/j.gif" />
    <img src="/includes/images/logos/l.gif" />
    <img src="/includes/images/logos/m.gif" />
    <img src="/includes/images/logos/n.gif" />
    <img src="/includes/images/logos/o.gif" />
    <img src="/includes/images/logos/p.gif" />
    <img src="/includes/images/logos/q.gif" />
    <img src="/includes/images/logos/r.gif" />
    <img src="/includes/images/logos/s.gif" />
    <img src="/includes/images/logos/t.gif" />
    <img src="/includes/images/logos/u.gif" />
    <img src="/includes/images/logos/v.gif" />
    <img src="/includes/images/logos/w.gif" />
    <img src="/includes/images/logos/x.gif" />
    <img src="/includes/images/logos/y.gif" />
    <img src="/includes/images/logos/z.gif" />
  </div>
</div>

<div class="products_type">
  <div class="type left">
    <img src="/includes/images/shirts.jpg" alt="SHIRTS">
    <a href="">jerseys</a>
  </div>

  <div class="type rightleft">
    <img src="/includes/images/lakershat.jpg" alt="HATS">
    <a href="">hats</a>
  </div>
  <div class="type rightright">
    <img src="/includes/images/shorts.jpg" alt="SHORTS">
    <a href="">shorts</a>
  </div>
  <div class="type wide">
    <img src="/includes/images/nike.png" alt="SOCKS">
    <a href="">socks</a>
  </div>
</div>

<div class="aboutus">
  <h1>About us</h1>
  <div class="aboutus-text">
    <p>NBA Store was founded with the desire to supply NBA fans with the best marchandise out there.</p>
    <p>Our product, starting at the factory in sweden, get the best care during their making in order to promise our customers get the best products.</p>
  </div>
</div>

<script src="/scripts/NavBar.js"></script>

</body>
</html>
