<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/pages/Login.css" />
    <title>HomePage</title>
</head>
<body>
  <%- include('../components/NavBar.ejs') %>
  <%- include('../components/HamburgerSideNav.ejs') %>
  
  <div class="container-login">
    <div class="login form">
      <header>Login</header>
      <form action="/user/login" method="post">
        <input id="usernameInput" type="email" placeholder="Enter your email..." name="email">
        <input id="passwordInput" type="password" placeholder="Enter your password..." name="password">
        <a href="/forgotPassword">Forgot password?</a>
        <input id="login-button" type="submit" class="button" value="Login" name="submit">
      </form>
      <div class="signup">
        <span class="signup">Don't have an account?
          <a href="/signup">Signup</a>
        </span>
      </div>
    </div>
  </div>
    <script src="/scripts/NavBar.js"></script>
    <script src="/scripts/Login.js"></script>
</body>

</html>