<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orders List</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="Orders">
      <!-- Order 1 -->
      <div class="accordion-item">
        <input type="checkbox" id="item-1" />
        <label for="item-1" class="accordion-header">
          <span>Order No. 98765 </span>
          <span class="arrow">
            <i class="fa-solid fa-caret-right"></i>
          </span>
        </label>
        <div class="accordion-content">
          <p>
            <div class="items">
              <div class="description">
                <h3 class="Date">Date: 01/08/2023</h3>
                <h3 class="price">Total order amount: $105.99</h3>
                <h3 class="quantity">Quantity: 4</h3>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
