<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>
<body class="ProductPage-body">
    <%- include('../components/NavBar.ejs') %>
    <%- include('../components/HamburgerSideNav.ejs') %>
    <div class="small-container single-product">
        <div class="row">
            <div class="col-2">
                <img src="https://images.footballfanatics.com/los-angeles-lakers/los-angeles-lakers-nike-association-edition-swingman-jersey-white-lebron-james-unisex_ss5_p-13348348+u-iprkpj59rjbp3d8yk6vw+v-mgeb9v5ijnyiakymkeo4.jpg?_hv=2&w=900" id="MainImg" width="100%">
                <div class="small-img-row">
                    <div class="small-img-col">
                        <img src="https://images.footballfanatics.com/los-angeles-lakers/los-angeles-lakers-nike-association-edition-swingman-jersey-white-lebron-james-unisex_ss5_p-13348348+u-iprkpj59rjbp3d8yk6vw+v-mgeb9v5ijnyiakymkeo4.jpg?_hv=2&w=900" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="https://images.footballfanatics.com/los-angeles-lakers/los-angeles-lakers-jordan-statement-edition-swingman-jersey-purple-lebron-james-unisex_ss5_p-13365085+u-emdpojqbqmxn1jtysvy6+v-mw2labilgzhwzhghijtv.jpg?_hv=2&w=900" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="https://images.footballfanatics.com/los-angeles-lakers/los-angeles-lakers-nike-classic-edition-swingman-jersey-white-lebron-james-unisex_ss5_p-13364138+u-tp1yt9meaekjmendhkwm+v-lqiuh3crdadiqd4x0axo.jpg?_hv=2&w=900" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="https://fanatics.frgimages.com/los-angeles-lakers/mens-nike-lebron-james-gold-los-angeles-lakers-2020/21-swingman-jersey-icon-edition_pi3774000_altimages_ff_3774124-8dda7d765787e82d6c61alt1_full.jpg?_hv=2&w=900" width="100%" class="small-img">
                    </div>
                </div>
            </div>
            <div class="col-2">
                <p>Home / Jersey</p>
                <h1>Product Name</h1>
                <h4>Price</h4>
                <select>
                    <option>Select Size</option>
                    <option>Small</option>
                    <option>Medium</option>
                    <option>Large</option>
                    <option>XL</option>
                    <option>XXL</option>
                </select>
                <input type="number" value="1">
                <a href="" class="btn">Add to Cart</a>
                <h3>Product Details <i class="fa fa-indent"></i></h3>
                <br>
                <p>If your youngster is looking for game-changing NBA style, then grab them this Anthony Davis Los Angeles Lakers Fast Break Replica Jersey from Fanatics Branded, which creates the same great look the team sports on the court. This piece boasts striking Los Angeles Lakers graphics and classic trims that showcase the team's distinct identity. Once your kiddo pulls this jersey on, their Los Angeles Lakers fandom will be proudly on display.</p>
            </div>
        </div>
    </div>
    <script src="scripts/ProductPage.js"></script>
    <script src="/scripts/NavBar.js"></script>
    <script src="/scripts/HamburgerSideNav.js"></script>
</body>
</html>
