<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NBA store - product type</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  <link rel="stylesheet" type="text/css" href="/css/pages/ProductsPage.css" />
</head>
<body data-page="<%=category %>">
  <%- include('../components/NavBar.ejs') %>
  <%- include('../components/HamburgerSideNav.ejs') %>
  <div class="productsPage-container">
    <div class="productsPage-sidebar">
      <h3>Category</h3>

      <select id="teamFilter">
        <option value="All Teams">All Teams</option>
        <option value="Los Angeles Lakers">Los Angeles Lakers</option>
        <option value="Golden State Warriors">Golden State Warriors</option>
        <option value="Boston Celtics">Boston Celtics</option>
        <option value="Atlanta Hawks">Atlanta Hawks</option>
        <option value="Brooklyn Nets">Brooklyn Nets</option>
        <option value="Charlotte Hornets">Charlotte Hornets</option>
        <option value="Chicago Bulls">Chicago Bulls</option>
        <option value="Cleveland Cavaliers">Cleveland Cavaliers</option>
        <option value="Dallas Mavericks">Dallas Mavericks</option>
        <option value="Denver Nuggets">Denver Nuggets</option>
        <option value="Detroit Pistons">Detroit Pistons</option>
        <option value="Houston Rockets">Houston Rockets</option>
        <option value="Indiana Pacers">Indiana Pacers</option>
        <option value="Los Angeles Clippers">Los Angeles Clippers</option>
        <option value="Memphis Grizzlies">Memphis Grizzlies</option>
        <option value="heatMiami Heat">Miami Heat</option>
        <option value="Milwaukee Bucks">Milwaukee Bucks</option>
        <option value="Minnesota Timberwolves">Minnesota Timberwolves</option>
        <option value="New Orleans Pelicans">New Orleans Pelicans</option>
        <option value="New York Knicks">New York Knicks</option>
        <option value="Oklahoma City Thunder">Oklahoma City Thunder</option>
        <option value="magOrlando Magic">Orlando Magic</option>
        <option value="Philadelphia 76ers">Philadelphia 76ers</option>
        <option value="Phoenix Suns">Phoenix Suns</option>
        <option value="Portland Trail Blazers">Portland Trail Blazers</option>
        <option value="Sacramento Kings">Sacramento Kings</option>
        <option value="San Antonio Spurs">San Antonio Spurs</option>
        <option value="Toronto Raptors">Toronto Raptors</option>
        <option value="Utah Jazz">Utah Jazz</option>
        <option value="Washington Wizards">Washington Wizards</option>
        <!-- Add options for all other teams -->
      </select>

      <div class="size-filter filter">
        <label for="sizeSelect">Size:</label>
        <select id="sizeSelect">
          <option value="All Sizes">All Sizes</option>
          <option value="S">S</option>
          <option value="M">M</option>
          <option value="L">L</option>
        </select>
      </div>
      <div class="price-filter filter">
        <label for="priceSort">Sort by Price:</label>
        <select id="priceSort">
          <option value="Default">Default</option>
          <option value="lowToHigh">Low to High</option>
          <option value="highToLow">High to Low</option>
        </select>
      </div>

      <button id="resetFiltersButton">Reset Filters</button>
    </div>
    <div class="products">

      <%- include('../components/loader.ejs') %>

    </div>
  </div>
  <script src="/scripts/ProductsData.js"></script>
  <script src="/scripts/ProductsPage.js"></script>
  <script src="/scripts/NavBar.js"></script>
</body>
</html>

