<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  <link rel="stylesheet" type="text/css" href="/css/pages/signup.css" />
</head>
<body>
  <%- include('../components/NavBar.ejs') %>
  <%- include('../components/HamburgerSideNav.ejs') %>

  <div class="signup-container">
    <div class="registration form">
      <header>Signup</header>
      <form action="/user/register" method="post" class="signup-form">
        <input type="text" placeholder="Full Name" name="fullName">
        <input type="email" placeholder="Enter your email" name="email">
        <input type="password" placeholder="Create a password" name="password">
        <input type="password" placeholder="Confirm your password">
        <input type="text" placeholder="Address" name="address">
        <input type="text" placeholder="City" name="city">
        <input type="text" placeholder="Country" name="country">
        <input type="text" placeholder="Zipcode" name="zipcode">
        <input id="signup-button" type="submit" class="button" value="Signup" name="submit">
      </form>
      <div class="signup">
        <span class="signup">Already have an account?
          <a href="/login">Login</a>
        </span>
      </div>
    </div>
  </div>
  <script src="/scripts/NavBar.js"></script>
  <script src="/scripts/HamburgerSideNav.js"></script>
</body>
</html>