<div class="sidebar">
  <!-- <div class="toggle-btn">
    <span></span>
    <span></span>
    <span></span>
  </div> -->
  <div class="links">
    <div class="x-btn">
      ╳	
    </div>
    <a href="/products/Jersey">
      <i><img src="https://cdn-icons-png.flaticon.com/128/5140/5140345.png" style="height: 24px; width: 24px;"></i>
      Jerseys
    </a>
    <a href="/products/Short">
      <i><img src="https://cdn-icons-png.flaticon.com/128/10374/10374285.png" style="height: 24px; width: 24px;"></i>
      Shorts
    </a>
    <a href="/products/Hat">
      <i><img src="https://cdn-icons-png.flaticon.com/128/1974/1974171.png" style="height: 24px; width: 24px;"></i>
      Hats
    </a>
    <a href="/products/Sock">
      <i><img src="https://cdn-icons-png.flaticon.com/128/2161/2161132.png" style="height: 24px; width: 24px;"></i>
      Socks
    </a>
    <a href="/map">
      <i><img src="https://cdn-icons-png.flaticon.com/128/2697/2697432.png" style="height: 24px; width: 24px;"></i>
      Locations
    </a>
    <a href="/graph">
      <i class="fa fa-line-chart"></i>
      Statistics
    </a>
    <a href="#">
      <i class="fa fa-info"></i>
      About
    </a>
  </div>
</div>


