<div class="sidebar">
  <div class="toggle-btn">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="links">
    <a href="/products">
      <!-- TODO: this products icon doesnt work -->
      <i class="fa-solid fa-shirt"></i>
      Products
    </a>
    <a href="/map">
      <i class="fa fa-star"></i>
      Locations
    </a>
    <a href="#">
      <i class="fa fa-line-chart"></i>
      Statistics
    </a>
    <a href="#">
      <i class="fa fa-info"></i>
      About
    </a>
  </div>
</div>


