<div class="sidebar active">
  <div class="toggle-btn">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="links">
    <a href="#">
      <i class="fa fa-home"></i>
      Products
    </a>
    <a href="#" class="active">
      <i class="fa fa-tachometer"></i>
      Locations
    </a>
    <a href="#">
      <i class="fa fa-line-chart"></i>
      Statistics
    </a>
    <a href="#">
      <i class="fa fa-bell"></i>
      About
    </a>
  </div>
</div>


