<div class="sidebar">
  <div class="toggle-btn">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="links">
    <a href="#">
      <span>👕</span> 
           Products
    </a>
    <a href="#">
      <i class="fas fa-store"></i>
      Locations
    </a>
    <a href="#">
      <i class="fa fa-line-chart"></i>
      Statistics
    </a>
    <a href="#">
      <i class="fa fa-info"></i>
      About
    </a>
  </div>
</div>


