<div class="sidebar">
  <div class="toggle-btn">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="links">
    <a href="/products">
      <span><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Basketball_jersey.svg/2048px-Basketball_jersey.svg.png" 
        alt="" style="width: 20px; height: 20px;"></span>
      Products
    </a>
    <a href="/map">
      <i class="fa fa-star"></i>
      Locations
    </a>
    <a href="#">
      <i class="fa fa-line-chart"></i>
      Statistics
    </a>
    <a href="#">
      <i class="fa fa-info"></i>
      About
    </a>
  </div>
</div>


