<div class="sidebar">
  <!-- <div class="toggle-btn">
    <span></span>
    <span></span>
    <span></span>
  </div> -->
  <div class="links">
    <div class="x-btn">
      ╳	
    </div>
    <a href="/products">
      <!-- TODO: this products icon doesnt work -->
      <i><img src="https://cdn-icons-png.flaticon.com/128/5140/5140345.png" style="height: 24px; width: 24px;"></i>
      Products
    </a>
    <a href="/map">
      <i class="fa fa-star"></i>
      Locations
    </a>
    <a href="#">
      <i class="fa fa-line-chart"></i>
      Statistics
    </a>
    <a href="#">
      <i class="fa fa-info"></i>
      About
    </a>
    
  </div>
</div>


