<nav class="navbar navbar-expand navbar-light bg-light fixed-top container-fluid" id="navbar">

  <a href="#" class="navbar-brand">Log In</a>

  <ul class="navbar-nav ms-auto">
    <li class="nav-item active">
      <input size="20px" id="search-input" class="form-control" placeholder="Search..." style="display: none;">
    </li>

    <li class="nav-item ">
      <a id="search-icon" class="btn">
        <i class="fa fa-search"></i>
      </a>
    </li>

    <li class="nav-item">
      <a id="heart-icon" class="btn">
        <i class="fa fa-heart"></i>
        <span class="position-absolute top-2 badge rounded-pill bg-primary" style="display: none;"
          id="heart-notification">
          <span id="heart-count"></span>
        </span>
      </a>
    </li>

    <div class="dropdown me-5">
      <a class="btn btn-outline dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown">
        <i class="fa fa-shopping-cart"></i>
        <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-primary"
          style="display: none;" id="cart-notification">
          <span id="cart-count"></span>
        </span>
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">My Cart</a></li>
        <li><a class="dropdown-item" href="#">Purchases</a></li>
      </ul>
    </div>

  </ul>
</nav>



