<div id="navbar-div">
  <nav class="primaryNavBar">
    <div>
      <ul>
        <li><a href="/" style="color: rgba(0,0,0,0.75);">Home</a></li>
          <li><a id="navbarLog" href="/login" style="color: rgba(0,0,0,0.75);"></a></li>
        </ul>
      <div class="nav-buttons">
        <!-- <input type="text" style="display: none;" id="search-input" class="input" placeholder="  Search">
        <button id="search-icon">
          <i class="fa fa-search" style="color: rgba(0,0,0,0.75);"></i>
        </button> -->
        <!-- <button>
          <i class="fa fa-heart" style="color: rgba(0,0,0,0.75);"></i>
          <span class="notification" id="heart-notification">7</span>
        </button> -->
        <button class="dropdown-btn" onclick="toggleDropdown()"><i class="fa fa-shopping-cart" style="color: rgba(0,0,0,0.75);"></i>
          <!-- <span class="notification" id="cart-notification">5</span> -->
        </button>
        <div class="dropdown-content">
          <a href="/cart">My Cart</a>
        </div>
        <button class="toggle-btn">
          <span class="hamburger">☰</span>
        </button>
        
      </div>
    </div>
  </nav>
</div>
