<nav class="primaryNavBar">
  <div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#">Log In</a></li>
    </ul>
    <div class="nav-buttons">
      <input type="text" style="display: none;" id="search-input" class="input" placeholder="  Search">
      <button id="search-icon">
        <i class="fa fa-search"></i>
      </button>
      <button>
        <i class="fa fa-heart"></i>
        <span class="notification" id="heart-notification">7</span>
      </button>
      <button class="dropdown-btn" onclick="toggleDropdown()"><i class="fa fa-shopping-cart"></i>
        <span class="notification" id="cart-notification">5</span></button>
      <div class="dropdown-content">
        <a href="#">My Cart</a>
        <a href="#">Purchases</a>
      </div>
    </div>
  </div>
</nav>