.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}  
  
.page404h1{
  font-size: 100px;
  margin: 0;
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.p-404 {
  font-size: 1.5em;
  margin: 0;
  margin-top: 20px;
}

.a-404{
	display: inline-block;
	padding: 10px 20px;
	background-color: #4293ef;
	color: #fff;
	text-decoration: none;
	margin-top: 20px;
	font-size: 1.2em;
	border-radius: 50px;
	animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

@media only screen and (max-width: 768px) {
    .page404h1{
      font-size: 120px;
    }
    .p-404 {
      font-size: 20px;
    }
  }

@media only screen and (max-width: 576px) {
  .page404h1 {
    font-size: 80px;
  }
  .p-404 {
    font-size: 15px;
  }
  .a-404 {
    font-size: 20px;
  }
}