body {
    font-family: Arial, sans-serif;
  }
  
  .cart-container {
    margin: 20px;
  }
  
  .nba-cart-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .item {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .item .title {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .item .price {
    margin-bottom: 5px;
  }
  
  .item .size {
    margin-bottom: 10px;
  }
  
  .total-price {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .payment-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  .item {
    display: flex;
    align-items: center;
  }
  
  .item .description {
    margin-right: 10px;
  }
  
  .item img {
    max-width: 100px;
    height: auto;
  }