
body{
  margin-top: unset;
}
/* style for the big centered video */
.background-video {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.background-video video{
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.background-video .content{
  position: relative;
  z-index: 1;
  margin: 0 auto;
  text-align: center;
  font-family: 'Popins', sans-serif;
}

.background-video .content h1{
  margin: 0;
  padding: 0;
  font-size: 4.5em;
  text-transform: uppercase;
  color: #fff;
}
.background-video .content p{
  margin: 0;
  font-size: 1.5em;
  color: #fff;
}

/* --------------------- */

/* style for marquee sliding nba logos */

.text-stroke-black {
  color: transparent;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #000000;
}

@keyframes marqueeAnimation {
  100% {
    transform: translateX(-4600px);
  }
}

@media (max-width: 992px) {
  .marquee h3 {
    font-size: 60px;
  }
}

@media (max-width: 549px) {
  .marquee h3 {
    font-size: 50px;
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 60px;
  margin: 0 40px;
}

/* --------------------- */

/* products short acces with images section */

.products_type{
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 20px;
  grid-template-areas: 
    "left rightleft rightright"
    "left wide wide"
}
.left{
  grid-area: left;
}

.rightleft{
  grid-area: rightleft;
}
.rightright{
  grid-area: rightright;
}

.wide{
  grid-area: wide;
}

.type{
  display: flex;
  margin: 10px;
  border: 1px solid rgb(197, 197, 197);
  padding: 10px 30px;
  position: relative;
  justify-content: center;
}

.type a{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: var(--white);
  font-size: 40px;
  background: var(--primary-lighten);
  padding: 10px 20px;
  text-transform: uppercase;
  border: 1px solid var(--primary-lighten);
}

.type img{
  object-fit: cover;
}

@media (max-width: 1000px){
  .products_type{
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas: 
      "left rightleft "
      "rightright wide"
  }
}

@media (max-width: 750px){
  .products_type{
    display: block;
  }
}

/* --------------------- */


/* style for the about us */
.aboutus{
  background: #565656;
  padding: 20px;
  color: var(--white);
  text-align: center;
}

.aboutus-text{
  text-align: left;
  width: 70%;
  margin: 0 auto;
  font-size: 20px;
}

.aboutus-text p{
  margin: 0;
  word-break: break-word;
  white-space: pre-wrap;
}