body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#background-video {
  position: absolute;
  top: 10%;   /* מאיפה הוידאו מתחיל מהטופ*/
  left: 0;
  width: 100%;
  height: 45%;
  object-fit: cover;
  z-index: -1;
}

#content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#product-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
}

.product {
  width: 150px;
  height: 200px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}




.col_allw300 { 
	float: left; 
	width: 300px; 
	margin-right: 30px; 
}



.col_rm { 
	margin: 0; 
}






* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f5f5f5;
  font-family: "Lato", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marquee {
  width: 100%;
  padding: 90px 20px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  text-align: center;
  overflow: hidden;
}

.marquee h3 {
  font-size: 94px;
  font-weight: 700;
  text-transform: uppercase;
}

.marquee .marquee-wrapper {
  width: 100000px;
  animation: marqueeAnimation 38s linear 0s infinite running;
}

.marquee h3 .marquee-title {
  margin-right: 20px;
  float: left;
}

.text-stroke-black {
  color: transparent;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #000000;
}

@keyframes marqueeAnimation {
  100% {
    transform: translateX(-4600px);
  }
}

@media (max-width: 992px) {
  .marquee h3 {
    font-size: 60px;
  }
}

@media (max-width: 549px) {
  .marquee h3 {
    font-size: 50px;
  }
}





* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 60px;
  margin: 0 40px;
}



