/* General Styles */
body {
  font-family: Arial, Helvetica, sans-serif;
}

.map-main-con{
  padding-top: 20px;
  height: 100%;
  color: var(--primary-lighten);
}


/* Map Title */
.mapPage-title {
  text-transform: uppercase;
  font-weight: bold;
  margin: 20px;
}

/* Map Container */
#map {
  width: 100%;
  height: 60vh;
}

/* Store List Container */
#store-list-container {
  width: 100%;
  background-color: #f8f8f8;
  padding: 10px;
  overflow-y: auto;
  flex-grow: 1;
}

/* Individual Store Item */
.store-item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
}

/* Store List Heading */
#store-list-container h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Store List */
#store-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

/* Store List Item */
#store-list li {
  margin-bottom: 10px;
}

/* fixing google maps style defects */
button, input, optgroup, select, textarea {
  line-height: initial !important;
}